*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.mainbar{
    background-color: #141456;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.mainbar ul{
    margin: 10px;
    width: 70%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.mainbar ul li{
    /* border: solid 1px rgb(211, 211, 219); */
    color: orange;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.mainbar a{
    color: inherit;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.mainbar li:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.mainbar form{
    width: 30%;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 2px;
    background: #ffffff;
    border-radius: 5px;
}

.mainbar form input{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #e6e6e6;
    font-size: 15px;
    border: none;
    font-weight: 500;
    background: none;
}

.mainbar form button{
    padding: 0 15px;
    color: #ffffff;
    background: #9c98a3;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}

.mainbar form button:hover{
    background: #23315b;
    color: black;
}

