*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.mainbar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
    padding: 0 1rem;
}

.mainbar .items{
    display: flex;
    /* flex-direction: column; */
    /* flex: 1; */
    /* padding: 0 0 0 40px; */
}

.mainbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* padding: 0 10px; */
}

.mainbar ul li{
    border: solid 1px blue;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.mainbar a{
    color: inherit;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.mainbar li:hover{
    background-color: #34348e;
    color: white;
}

.mainbar form{
    display: flex;
    height: 40px;
    /* padding: 2px; */
    background: #1e232b;
    /* min-width: 18%!important; */
    /* border-radius: 10px; */
    /* border: 10px solid rgba(155,155,155,0.2); */
}

.mainbar form .search_d{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

.mainbar form button{
    padding: 0 15px;
    color: #fff;
    /* font-size: 17px; */
    background: #586ba5;
    border: none;
    cursor: pointer;
}

.mainbar form button:hover{
    background: #23315b;
}