*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.mainbar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom:1px solid #141456;
}
.schoollogo{
    display: flex;
    flex-direction:column;
    color: rgb(0, 0, 0);
}
.schoolname{
    font-size: 2.0rem;
    
}
.mainbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.mainbar ul li{
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.mainbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items:center;
    pad: .25rem;
}
.mainbar li:hover{
    background-color: #141456;
    color: orange;
    border-radius: 10%;
}

