*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.mainbar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    padding: 0 1rem;
}
.schoollogo{
    display: flex;
    flex-direction:column;
    /* border:solid #ffffff ; */
}
.schoolname{
    font-size: 2.5rem;
}
.mainbar ul{
    height: 0%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.mainbar ul li{
    border: solid 1px blue;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.mainbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items:center;
    pad: .25rem;
}
.mainbar li:hover{
    background-color: #34348e;
    color: white;
}

